* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

#tables {
  display: flex;
  /* justify-content: center; */
}

table {
  margin: 2%;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
th, td, tr {
  padding: 10px;
  text-align: left;
}
th {
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


